<!DOCTYPE html>
<html>
    <head>
    <title> My first app</title>
    </head>

    <body>
    <h1>Hello world</h1>
    <p>Welcome to my first flask website</p>
    <p>This Variable is from python {(my_variable)}</p>
    <p>My favorite fruits are {(my_list)}</p>
    <ul>
    {% for fruit in list %}'
        <li>{{fruit}}</li>
    {% endfor %}

    {% if user == "admin" %}
        <p> SUPER SECRET ADMIN CONTROLS</p>
        <button>Ban Mr.Forlenza</button>
    {% endif %}
    </ul>
    </body>

</html>