<!DOCTYPE html>
<html lang="en"></html>
<head>
</head>
<style>

body {background-color: rgb(2, 26, 29);}
h1   {color: black;}
p    {color: red;}
li   {color:red}
</style>

</head>
<html>
<body>
 <h1>Hello </h1>
    <h2>This is my TODOS</h2>

    <ul>
        {% for todo in todoss%}
        <li style = "{% if todo [`complete`] == 1 %} color: red {%endfor%}">
            {{todo[`Description`]}}
        </li>"
        {% endfor%}
    </ul>
<form

    action="/add"
    method="post"

>
    <textarea name="new_todo">
    </textarea>
    <input type ="submit">


</form>
</body>

</html>