 <!DOCTYPE html>
<head>


</head>

<body class="container">
 <h1>MyTODOS </h1>

    <ul>
        {% for todo in todoss%}
            <li style = "{% if todo ['complete'] == 1 %} color: red {%endif%}">
                {% if todo['complete'] == 0 %}
                 <form action="/complete" method="post">
                    <input name="todo_id" value="{{todo['id']}}">
                    <input type="submit" value="complete">
                 </form>
                {% endif %}
            {{todo['description']}}
            </li>"
        {% endfor%}
    </ul>
<form

    action="/add"
    method="post"

>
    <textarea name="new_todo">
    </textarea>
    <input type ="submit">


</form>
</body>

</html> 
